<mapper namespace="com.zxr.dao.IUserDao">

   <select id="findAll" resultType="com.zxr.pojo.User">
       select * from user
   </select>

    <select id="findByCondition" resultType="com.zxr.pojo.User" parameterType="com.zxr.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

</mapper>
